@using System.Security.Claims
@model Movie

@{
    ViewData["Title"] = "Movie Details";
}

<div class="container-fluid">
    <div class="col">
       
        <div class="video">
            <video class="w-100" height="400" controls>
                <source src="@Model.FilePath" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="container">
            <h1 class="text-white mt-5 mb-5">@Model.Title</h1>
        </div>

        <div class="d-flex align-items-baseline mt-5 mb-5 p-2">
            <span class="imdb">IMDB</span>
            <p class="text-white ms-3">@Model.Rating</p>
        </div>

        <div class="movie-info-container p-5 mb-5">


            <p class="text-warning">
                Genres:
                <span class="text-white">
                    @foreach (var movieGenre in Model.MovieGenres)
                    {
                        <span>@movieGenre.Genre.Name</span>
                        if (movieGenre != Model.MovieGenres.Last())
                        {
                            <span>, </span>
                        }
                    }
                </span>
            </p>

            <p class="text-warning">Country:  <span class="text-white">@Model.Country</span></p>
            <p class="text-warning">Directory: <span class="text-white">@Model.Director</span></p>
            <p class="text-warning">Description: <span class="text-white">@Model.Description</span></p>
            <p class="text-warning">Release Date: <span class="text-white">@Model.ReleaseDate</span></p>
        </div>
    </div>

    <div class="col-8">
        <h2 class="text-warning mb-3">Comments</h2>
        @foreach (var comment in Model.Comments)
        {
            <div class="card mb-2">
                <div class="card-body">
                    <div class="d-flex">
                        @if (!string.IsNullOrEmpty(comment.User.Avatar))
                        {
                            <img src="~/avatars/@comment.User.Avatar" class="rounded-circle avatar-img" width="50" height="50" />
                        }
                        else
                        {
                            <img src="https://cdn-icons-png.flaticon.com/512/1053/1053244.png" class="rounded-circle avatar-img" width="50" height="50" />
                        }
                        <p class="ms-3 comment-user-name">@comment.User.UserName.ToUpper()</p>
                    </div>
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || comment.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier)))
                    {
                        <form asp-action="DeleteComment" asp-controller="Comment" class="float-end" method="post">
                            <input type="hidden" name="commentId" value="@comment.Id" />
                            <input type="hidden" name="movieId" value="@Model.Id" />
                            <button type="submit" class="comment-remove">
                                <i class="fa-solid fa-delete-left"></i>
                            </button>
                        </form>
                    }
                    <p class="p-2 ms-4">@comment.Text</p>

                    <div class="float-end">
                        <p class="text-warning">Posted at: @comment.PostedAt.ToShortDateString()</p>
                    </div>
                </div>
            </div>
        }

        <h2 class="text-white">Add a Comment</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <form method="post" asp-action="AddComment" asp-controller="Comment">
                <input type="hidden" name="movieId" value="@Model.Id" />
                <div class="form-group mb-3">
                    <label class="text-white mb-1" for="commentText">Comment</label>
                    <textarea class="form-control comment-input" id="commentText" name="commentText"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        }
        else
        {
            <p class="text-white">Please <a class="text-warning" href="/Account/Login">log in</a> to add a comment.</p>
        }
    </div>
</div>
